.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    border: 2px solid black;
    background-color: cadetblue;
}

.transparent {
    background-color: transparent;
}

.red {
    border: 2px solid black;
    background-color: red;
}

.blue {
    border: 2px solid black;
    background-color: aqua;
}

.green {
    border: 2px solid black;
    background-color: green;
}

.yellow {
    border: 2px solid black;
    background-color: yellow;
}