.game {
    display: flex;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.figures-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}